.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
  word-wrap: break-word;
  max-width: 150px;
}

th, td
{
  padding : 15px;
}

th
{
  background-color: #228B22;
}
