<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/styles/global.css">
    <title>TDI</title>
</head>
<body>
    <!-- TDI Title  -->
    <div class="bg-dark text-white pt-4 pb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-4">
            <h3 class="fw-bold p-2">Talent Development Initiative</h3>
            <h4 class="fw-bolder p-2">{{ title }}</h4>
            <div class="p-4 d-grid col-2 mx-auto">
                <a class="btn btn-outline-light" href="/" role="button">Run Search Again</a>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <p>Unfortunately, the data you have requested is not available for the specified county.
            Please search for a new location.
        </p>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
