<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile-style.css') }}">

    <title>TDI</title>
</head>
<body>
    <!-- TDI Title  -->
    <div class="bg-dark text-white pt-4 pb-4">
        <div class="d-flex flex-column justify-content-center align-items-center p-4">
            <h3 class="fw-bold p-2">Talent Development Initiative</h3>
            <h4 class="fw-bolder p-2">{{ title }}</h4>
            <div class="d-grid col-lg-2 col-sm-4 mx-auto">
                <a class="btn btn-outline-light" href="/" role="button">Run Search Again</a>
            </div>
        </div>
    </div>
    <!-- Table Nav Pill List -->
    <div class="p-4">
            <ul class="nav nav-tabs nav-pills justify-content-center m-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="labor" data-bs-toggle="tab" data-bs-target="#labor-force" type="button" role="tab" aria-controls="labor-force" aria-selected="true">Labor Force</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="edu" data-bs-toggle="tab" data-bs-target="#education" type="button" role="tab" aria-controls="education" aria-selected="false">Education</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="socio" data-bs-toggle="tab" data-bs-target="#socioeconomic" type="button" role="tab" aria-controls="socioeconomic" aria-selected="false">Socioeconomic</button>
                </li>
            </ul>
        <!-- Tables -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active pt-2 " id="labor-force" role="tabpanel" aria-labelledby="labor-force">
                <div class="d-flex justify-content-center align-items-center p-4">
                    <h4 class="fw-bold"><u>Labor Force Characteristics by Occupation and Industry</u></h4>
                </div>
                <h5 class="p-2">Occupation by Class of Worker for the Civilian Employed Population 25 Years and Over:</h5>
                <div class="table-responsive-sm">
                    {{ tables[0]|safe }}
                    <hr>
                </div>
                <h5 class="p-2">Industry by Occupation for the Civilian Employed Population 25 Years and Over:</h5>
                <div class="table-responsive-sm">
                    {{ tables[1]|safe }}

                </div>
            </div>
            <div class="tab-pane fade pt-2" id="education" role="tabpanel" aria-labelledby="education-tab">
                <div class="d-flex justify-content-center align-items-center p-4">
                    <h4 class="fw-bold"><u>Educational Attainment</u></h4>
                </div>
                <h5 class="p-2">Highest Educational Attainment for the Population 25 Years and Over:</h5>
                <div class="table-responsive-sm">
                {{ tables[2]|safe }}
                </div>
            </div>
            <div class="tab-pane fade pt-2" id="socioeconomic" role="tabpanel" aria-labelledby="socioeconomic-tab">
                <div class="table-responsive-sm">
                {{ tables[3]|safe }}
                </div>

    </div>
</div>
</div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
